body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(46, 46, 46);
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    font-size: 20px;
    color: white
}

button {
    background-color: #9d4caf;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a04545;
}

audio {
    display: none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-device-pixel-ratio: 3) { 

h1 {
    font-size: 20px;
    font-weight: bolder;
}

h2 {
    font-size: 16px;
}
}
